<header id="header" class="container">
  <div onclick="window.location.href='#'">
    <img class="col-md-3" src="assets/images/logoAS.png" alt="Air Studies" title="Air Studies"/>
  </div>

  <app-header></app-header>

</header><!-- /header -->
<a name="top"></a>


<!-- CONTENT
=================================================== -->

<div class="container">

  <div class="jumbotron row">

    <app-content></app-content>

  </div>



  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#top">Back to top</a></p>
    <p>&copy; 2017 <span class="a">Air</span><span class="s">Studies</span> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>




</div><!-- /.container -->
