<h3 class="text-center">Property</h3>
<hr>
<section class="dados col-md-12">
  <article class="row">
    <form #schoolForm="ngForm">
      <h4 class="col-md-12">Identification</h4>

      <div class="form-group col-md-6">
        <label for="inputNomeProprietario">Owner Name</label>
        <input type="text" class="form-control" id="inputNomeProprietario" placeholder="Owner Name" required name="name" [(ngModel)]="Property.name"
          #name="ngModel" />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Owner name is required
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="inputRegistro">Owner Legal Document</label>
        <input type="text" class="form-control" id="inputRegistro" placeholder="Document Number" required #document="ngModel" [(ngModel)]="Property.document"
          name="document" />
        <div [hidden]="document.valid || document.pristine" class="alert alert-danger">
          Document is required
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="language">Mother tongue</label>
        <input id="language" class="form-control" name="language" ng2-auto-complete display-property-name="name" no-match-found-text="No language found"
          max-num-list="5" [source]="config.worldLanguages" value-property-name="code" />
      </div>

      <div class="form-group col-md-6">
        <label for="propertyEmail">Email</label>
        <input type="email" class="form-control" id="propertyEmail" placeholder="Email" [(ngModel)]="Property.email" name="contactEmail"
        />
      </div>

      <div class="form-group col-md-3">
        <label for="contactPhone">Phone</label>
        <input type="tel" class="form-control" id="contactPhone" placeholder="Phone number" [(ngModel)]="Property.phone" name="contactPhone"
        />
      </div>


      <div class="form-group col-md-3">
        <label for="inputTipoP">Property Type</label>
        <select id="inputTipoP" class="form-control" data-width="100%">
                            <option>Casa</option>
                            <option>Hostel</option>
                            <option>Prédio</option>
                            <option>Apartamento</option>
                            <option>Quarto</option>
                        </select>
      </div>


      <div class="form-group col-md-4">
        <label for="inputPlace" class="dis">Owner Origins</label>
        <input id="inputPlace" class="form-control" name="place" path-to-data="results" ng2-auto-complete display-property-name="formatted_address"
          min-chars="3" no-match-found-text="No city found" max-num-list="5" [source]="googleMapURL" (valueChanged)="onPlaceChanged($event)"
        />
      </div>

      <app-localization [addressLine1]="Property.addressLine1" [addressLine2]="Property.addressLine2" 
      [city]="Property.city" [state]="Property.state"
        [country]="Property.country" [postalCode]="Property.postalCode" 
        (localization)="onChangeLocalization($event)">
      </app-localization>

      <!-- Tipos de Quartos ===========================================================================-->
      <h4 class="col-md-12">Type of Available Rooms </h4>
      <div class="col-md-6 tq form-group">
        <input type="checkbox"> Suite <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">#</span>
          <input type="text" class="form-control" placeholder="Amount of Suits" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-6 tq form-group">
        <input type="checkbox">Single Room <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">#</span>
          <input type="text" class="form-control" placeholder="Amount of Single Rooms" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="col-md-6 tq form-group">
        <input type="checkbox"> Shared Room <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">#</span>
          <input type="text" class="form-control" placeholder="Amount of Shared Rooms" aria-describedby="basic-addon4">
        </div><br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4a">Number of Guests</span>
          <input type="text" class="form-control" placeholder="Amount of Guests" aria-describedby="basic-addon4a">
        </div>
      </div>
      <!-- Facilidades Oferecidas =====================================================================-->
      <h4 class="col-md-12">Includes</h4>
      <div class="col-md-12 form-group fc">
        <input type="checkbox" class="first"> Internet
        <input type="checkbox"> Loundry
        <input type="checkbox"> Clothes Dryer
        <input type="checkbox"> Kitchen <br>
        <div class="col-md-3 row">
          <div class="input-group">
            <span class="input-group-addon">
                          <input type="checkbox" aria-label="Refeições"> Meals
                        </span>
            <input type="text" class="form-control" aria-label="..." placeholder="Number of Meals">
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
      </div><br>

      <!-- Facilidades Transporte =====================================================================-->
      <h4 class="col-md-12">Transports</h4>
      <div class="col-md-12 form-group fc">
        <input type="checkbox" class="first"> Subway
        <input type="checkbox"> Train
        <input type="checkbox"> StreetCar
        <input type="checkbox"> VLT
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-12 row">
          <div class="input-group">
            <span class="input-group-addon">
                          <input type="checkbox" aria-label="Refeições"> Others
                        </span>
            <input type="text" class="form-control" aria-label="..." value="" data-role="tagsinput">
          </div>
          <!-- /input-group -->
        </div>
      </div>


      <!-- Outras Caracteristicas =====================================================================-->

      <h4 class="form-group col-md-12">Others Features</h4>

      <div class="col-md-12 form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5">Animals</span>
          <input type="text" class="form-control" id="animais" aria-describedby="basic-addon5" value="Racoon, Fish, Dogs" data-role="tagsinput">
        </div>
      </div>

      <div class="col-md-12 form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon6">Meals Served</span>
          <input type="text" class="form-control" id="comida" aria-describedby="basic-addon6" value="Typical Food, SeaFood, Vegetarian"
            data-role="tagsinput">
        </div>
      </div>
      
      <div class="col-md-12 form-group fc">
        <input type="checkbox" class="first"> Smoking Allowed
        <input type="checkbox"> Allows alcoholic beverages
        <input type="checkbox"> Couples Allowed
      </div>
  
      <div class="form-group col-md-12">
        <label for="observation">Observation</label>
        <textarea class="form-control" rows="6" id="observation" [(ngModel)]="Property.observation" name="observation"></textarea>
      </div>


      <div class="col-md-12">
        <button class="btn btn-success pull-right cadusr" id="gravar">Save</button>
        <button class="btn btn-success pull-right cadusr" id="gr_nv">Save and New</button>
        <button class="btn btn-primary pull-right cadusr" id="cancel">Cancel</button>
      </div>
