<header id="header" class="container">
  <div onclick="window.location.href='#'">
    <img class="col-md-3" src="assets/images/logoAS.png" alt="Air Studies" title="Air Studies"/>
  </div>

</header><!-- /header -->
<div class="container">

  <div class="jumbotron row">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== null">
        {{errorMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="errorMessage == null && confirmMessage !== null">
        {{confirmMessage}}
      </div>

      <section>
      <div class="col-md-6"><h2>Create a new password</h2></div>
      <section class="usrrec col-sm-5">
        <div>
                    <span class="col-md-10">
                        <h5 class="pull-right">Hello {{user !== null?user.name:''}}</h5>
                    </span>
        </div>
      </section>
        <form>

          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">New Password</label>
            <input #userpassword type="password" class="form-control" id="exampleInputEmail1" placeholder="New Password...">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Retype the Password</label>
            <input #userpassword2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype the Password...">
          </div>
          <div class="checkbox col-md-offset-8 col-md-2">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success pull-right" (click)="onSave(userpassword.value, userpassword2.value)">Save</button>
          </div>
        </form>
    </section>
    </div>

  <!-- FOOTER -->
  <footer>

    <p>&copy; 2017 <span class="a">Air</span><span class="s">Studies</span> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>

</div>
