<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Reservation</h4>
        </div>


        <div class="modal-body">

            <form role="form" #reservationForm="ngForm">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fullName">Student</label>
                            <input type="text" class="form-control" id="fullName"
                                   placeholder="Student Name" required
                                   name="fullName" [(ngModel)]="reservation.student" #fullName="ngModel"/>
                            <div [hidden]="fullName.valid || fullName.pristine"
                                 class="alert alert-danger">
                                Student name is required
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Checkin" class="control-label">Checkin</label>
                            <input type="date" class="form-control" id="Checkin"
                                   required name="Checkin" [(ngModel)]="reservation.checkin" #Checkin="ngModel"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Checkout" class="control-label">Checkout</label>
                            <input type="date" class="form-control" id="Checkout"
                                   required name="Checkout" [(ngModel)]="reservation.checkout" #Checkin="ngModel"/>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="observation">Observation</label>
                            <textarea class="form-control" rows="6" id="observation"
                                      [(ngModel)]="reservation.observation" name="observation"></textarea>
                        </div>
                    </div>
                </div>

            </form>


        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <app-register-buttons-modal [validForm]="reservationForm.form.valid"
                                        (save)="onSave(true, reservationForm)"></app-register-buttons-modal>
        </div>
    </div>
    <!-- /.modal-content -->
</div>


